.MyButton {
    background-color:royalblue;
    color:white;
    border-color:white;
    border-bottom-color:black;
    border-right-color: black;
    font-size: 20px;
    padding:20px 100px;
    border-radius: 10px;
    /* margin: 100px 300px; */
    cursor:pointer;
    /* flex-direction: column; */
}

.iFrame {
    max-width: 100%;
    max-height: 100%;
    width: 1000px;
    height: 2000px;
    border-radius: 100px;
    border: 0px;
    /* margin-left: 12%; */
    /* padding-top: 20%; */
}